body {
  margin: 0;
  font-family: 'Vazir', sans-serif;
  direction: rtl;
  background-color: #fff;
}

.top-bar {
  background-color: rgba(128, 128, 128, 0.6); /* خاکستری با شفافیت */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo-area img {
  height: 50px;
}

.menu-area ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu-area a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
